body {
    background-color: rgb(45, 42, 46);
}

div.code_box {
    margin: auto;
    position: absolute;
    max-width: 90%;
    height: 12.5em;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    font-family: "Consolas", sans-serif;
    font-size: 1em;
}

span.code_metadata {
    color: rgb(120, 220, 232);
}
span.code_keyword {
     color: rgb(255, 97, 136);
     font-style: italic;
 }
span.code_method {
    color: rgb(169, 220, 118);
}
span.code_operator {
    color: rgb(255, 97, 136);
}
span.code_string {
    color: rgb(255, 216, 102);
}
span.code_number {
    color: rgb(171, 157, 242);
}
span.code_braces {
    color: rgb(147, 146, 147);
}
